body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1000px;
  min-height: 600px;
}

#app {
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  min-height: 600px;
  background-color: rgb(0, 0, 20);
}

* {
  transition: all 150ms;
}

.noDrag {
  -webkit-app-region: no-drag
}

.drag {
  -webkit-app-region: drag;
}